<div class="">
    <div class="container-perso-search">
        <div class="container">
            <h2 class="text-center " style="color : #8f106e; margin-top: 25px;">Rechercher votre candidat</h2>
            <h4 class="text-center" style="color: grey;"><I>Rechercher le candidat que vous devez rencontrer</i></h4>
        </div>

        {{allCandidats}}

        <div class="col-md-10 col-md-offset-1" style="border-color: #8f106e; height: 50px; border-style: solid; margin-top: 15px;">
            <input type="text" class="form-control-bis ng-pristine ng-valid ng-empty ng-touched" style="margin-top: 6px;"
            placeholder="Recherche : mots-clés, problème turbine, ouverture ticket, contacter la hotline...">
            <i class="input-group-addon bc-icon">
                <i class="fa fa-search " type="submit">

                </i>
            </i>
        </div>
    </div>
</div>